<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title></title>
</head>
<body class="corpo">

<div class="image_top">
    <img height="200" width="200" src="../static/img/MarteloMouse.png">
</div>

<div class="menu">
    <p style="text-align: center">
        <a href="/" target="_self">HOME</a>
        <a href="portifolio.html" target="_self">PORTIFÓLIO</a>
        <a href="hobbies.html" target="_self">HOBBIES</a>
        <a href="curriculo.html" target="_self">CURRÍCULO</a>
    </p>
</div>

{% block conteudo %}

{% endblock %}

</body>
</html>