{% extends "base.html" %}

{% block conteudo %}

<div class="galeria-cv">
    <div>
        
        <a target="_blank" href="../static/img/skeleton.jpg">
            <img width="33%" height="33%" src="../static/img/skeleton.jpg" alt="Desenvolvimento de Software Multiplatforma" >
        </a>
        <p>Desenvolvimento Software </br>Multiplataforma</br></br>Fatec - SJC</br></br>2023/--</p>
    </div>
    <div>
        <!-- <div class="legenda">Projeto API</div> -->
        <a target="_blank" href="../static/img/skeleton01.jpg">
            <img width="33%" height="33%" src="../static/img/skeleton01.jpg">
        </a>
        <p>Análise e Desenvolvimento</br>de Sistemas</br></br>UNIP - SJC</br></br>2020/2021</p>
     </div>   
        <!-- <div class="legeda">Portifólio</div> -->
     <div>   
        <a target="_blank" href="../static/img/GeologySkeleton.png">
            <img width="33%" height="33%" src="../static/img/GeologySkeleton.png">
        </a>
        <p>Geologia</br></br>UFRRJ</br></br>2008/2012</p>
    </div>
        <!-- <div class="legenda">Meu GitHub</div> -->
    <div>
        <a target="_blank" href="../static/img/FarmerSkeleton.png">
            <img width="33%" height="33%" src="../static/img/FarmerSkeleton.png">
        </a>
        <p>Técnico em Agropecuária</br></br>IFET-Muzambinho</br></br>2004/2006</p>
        
    </div>
</div>

{% endblock %}