{% extends "base.html" %}

{% block conteudo %}

<div class="galeria-ph">
    
        <a target="_blank" href="../static/img/">
            <img height="33%" width="33%" src="../static/img/API.png" alt="SYNTAX-SQUAD" >
        </a>
        <a target="_blank" href="../static/img/portifolio.png">
            <img height="33%" width="33%" src="../static/img/portifolio.png">
        </a>
        <a target="_blank" href="../static/img/GITHUB.png">
            <img height="33%" width="33%" src="../static/img/GITHUB.png">
        </a>
    
</div>

{% endblock %}