{% extends "base.html" %}

{% block conteudo %}

<div class="galeria">
    <div class="galeria-img">
        <a target="_blank" href="../static/img/">
            <img width="33%" height="33%" src="../static/img/API.png" alt="SYNTAX-SQUAD" >
        </a>
        <!-- <div class="legenda">Projeto API</div> -->
        <a target="_blank" href="../static/img/portifolio.png">
            <img width="33%" height="33%" src="../static/img/portifolio.png">
        </a>
        <!-- <div class="legeda">Portifólio</div> -->
        <a target="_blank" href="../static/img/GITHUB.png">
            <img width="33%" height="33%" src="../static/img/GITHUB.png">
        </a>
        <!-- <div class="legenda">Meu GitHub</div> -->
</div>

{% endblock %}