{% extends "base.html" %}

{% block conteudo %}
<div class="pedra">
    <img height="450px" width="550px" src="../static/img/EU.JPG">
</div>
<div class="dados_home">
    <h2>Mateus Reis</h2>
    <h4>Estudante Desenvolvimento de Software Multiplataforma</h4>
    <h4>Fatec Prof. Jessen Vidal</h4>
    <p class="quebra"><br></p>
    <p>Este portifólio apresenta o meu currículo, hobbies e habilidades.<br>É parte da entrega da disciplina de Design
    Digital, ministrada pelo Prof. Fabrício.</p>
</div>


{% endblock %}