{% extends "base.html" %}

{% block conteudo %}
<div class="galeria-ph">
    <a target="_blank" href="../static/img/API.png">
        <img height="33%" width="33%" src="../static/img/API.png" alt="SYNTAX-SQUAD" >
    <p>API FATEC</p>
    </a>
    <a target="_blank" href="https://github.com/GRUPOAPIDSM2023/API">
        <img height="33%" width="33%" src="../static/img/portifolio.png">
    <p>Portifólio</p>
    </a>
    <a target="_blank" href="https://github.com/mhlreis">
        <img height="33%" width="33%" src="../static/img/GITHUB.png">
    <p>GitHub</p>
    </a>
</div>

{% endblock %}