{% extends "base.html" %}

{% block conteudo %}
<div class="galeria">
    <div class="galeria-img">
        <a target="_blank" href="../static/img/API.png">
            <img width="33%" height="33%" src="../static/img/API.png" alt="SYNTAX-SQUAD" >
        </a>
        <a target="_blank" href="https://github.com/GRUPOAPIDSM2023/API">
            <img width="33%" height="33%" src="../static/img/portifolio.png">
        </a>
        <a target="_blank" href="https://github.com/mhlreis">
            <img width="33%" height="33%" src="../static/img/GITHUB.png">
        </a>
    </div>
</div>

{% endblock %}