div.image_top{
    text-align: center;
}

div.menu{
    color: white;
    text-align: justify-all;
    background-color: darkgrey;
    height: 50px;

}

div.dados_home{
    display: block;
    position: fixed;
    text-align: justify;
    margin-left: 50px;
    margin-top: 50px;
    width: 600px;
    height: 450px;
    background-color: darkgrey;


}

div.pedra{
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    border-radius: 25px;

}

div.corpo{
    padding: 0;
    margin: 0 auto;
}

div.galeria-ph{
    background-color: darkgrey;
    margin: 10px;
    border: solid 1px black;
    display: flex;
    flex-wrap: wrap;
    height: 500%;
    width: auto;
    padding-left: 15px;
    padding-top: 30px;

}

div.galeria-cv{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: darkgrey;
    margin: 10px;
    border-radius: 15px;
    border: solid 1px black;

}
/* div.galeria-img{
    
    width: 20%;
    height: 20%;
} */

div.legeda{
    text-align: center;
}

div.galeria:hover{
    border: 1px solid #777;
}